/frontend/resources/public/js/compiled/
/frontend/resources/public/css/main.css
/frontend/target/
/frontend/*-init.clj

# Leiningen
/frontend/.lein-*
/frontend/.nrepl-port

/frontend/node_modules/

# shadow-cljs cache, port files
/frontend/.shadow-cljs/

# Common CLJ directories
/**/.calva
/**/.idea
/**/.clj-kondo
/**/.lsp

.DS_Store
.aider*
.idea
.vscode
