@import "tailwindcss";

@utility icon { @apply w-4 h-4; }
@utility button { @apply font-sans px-1 rounded-sm border border-b-4 border-slate-300 bg-slate-100 hover:bg-slate-200 transition-colors duration-250; }
@utility button--danger { @apply border-b-red-400; }
@utility button--primary { @apply border-b-slate-400; }

@utility modal__dialog { @apply shadow-2xl min-h-20 mx-auto rounded-sm border border-slate-300 bg-slate-100; }
@utility main-container { @apply mx-auto max-w-2xl px-4 md:px-0 text-cyan-700; }
@utility factor-card { @apply bg-slate-200 hover:bg-slate-400; }
@utility title__wrapper { @apply my-4; }
@utility modal-container__heading { @apply py-2 px-4 bg-slate-200 border-b border-slate-300 font-normal; }
@utility modal-container__main { @apply py-2 px-4; }
@utility modal__backdrop { @apply size-full flex items-center bg-stone-100/80 backdrop-blur-xs; }
@utility factor-form__heading { @apply text-xl bg-slate-200; }
@utility modal { @apply fixed w-screen h-screen left-0 top-0 text-cyan-700; }
@utility title { @apply text-lg; }
@utility title__acronym { @apply text-3xl uppercase; }
@utility factor-form__actions { @apply flex gap-1 justify-end mt-4 mb-2; }

/* merriweather-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/merriweather-v31-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  
  /* merriweather-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/merriweather-v31-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  
  /* merriweather-700italic - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/merriweather-v31-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  
body {
    font-family: Merriweather;
    font-weight: 300;
    background-color: var(--color-stone-100);
}
