@import "tailwindcss";

@utility icon { @apply w-4 h-4 fill-amber-600; }

/* -- Main -------------------------------------- */
@utility main-container { @apply mx-auto max-w-2xl px-4 md:px-0 text-cyan-700; }
@utility title { @apply text-lg; }
@utility title__wrapper { @apply my-4; }
@utility title__acronym { @apply text-3xl uppercase; }

/* -- Modal ------------------------------------- */
@utility modal { @apply fixed w-screen h-screen left-0 top-0 text-cyan-700; }
@utility modal__dialog { @apply shadow-2xl min-h-20 min-w-150 mx-auto rounded-sm border border-slate-300 bg-slate-100; }
@utility modal-container__header { @apply py-2 px-4 bg-slate-200 border-b border-slate-300 font-normal; }
@utility modal-container__main { @apply py-2 px-4; }
@utility modal__backdrop { @apply size-full flex items-center bg-stone-100/80 backdrop-blur-xs; }

/* -- Forms ------------------------------------- */
@utility form { @apply flex flex-col; }
@utility form__field { @apply flex flex-col mb-4; }
@utility form__label { @apply font-bold; }
@utility form__input { @apply border border-gray-300 rounded-sm p-1 focus:outline-none focus:ring-2 focus:ring-cyan-500; }
@utility form__actions { @apply my-4 flex flex-row justify-end gap-2; }
@utility button { @apply font-sans px-1 rounded-sm border border-b-4 border-slate-300 bg-slate-100 hover:bg-slate-200 transition-colors duration-250; }
@utility button--danger { @apply border-b-red-400; }
@utility button--primary { @apply border-b-slate-400; }

/* -- Panel ------------------------------------- */
@utility panel { @apply my-12 rounded-sm border border-white bg-slate-200 shadow-xl; }
@utility panel__header { @apply py-2 px-4 flex flex-row border-b border-dashed border-b-white; }
@utility panel__title { @apply font-normal grow; }
@utility panel__list { @apply py-2 px-4 border-t border-dashed border-t-slate-300; }

/* -- Factors ----------------------------------- */
@utility factor-card { @apply my-4  p-2 flex flex-nowrap rounded-sm border-b border-double border-slate-300 hover:bg-slate-300; }
@utility factor-card__start { @apply w-11/12 ; }
@utility factor-card__end { @apply w-1/12 min-w-4 flex justify-end items-start ; }
@utility factor-card__title { @apply flex-grow font-bold; }
@utility factor-card__description { @apply w-full; }

/* merriweather-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/merriweather-v31-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  
  /* merriweather-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/merriweather-v31-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  
  /* merriweather-700italic - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/merriweather-v31-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  
body {
    font-family: Merriweather;
    font-weight: 300;
    background-color: var(--color-stone-100);
}
