on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_ACCESS_KEY_SECRET }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use NodeJS 21.x
        uses: actions/setup-node@v4
        with:
          node-version: 21.x

      - name: Install npm dependencies
        run: npm install

      - name: Build release
        run: npm run release

      - name: Sync to S3
        run: |
          aws s3 sync ./resources/public s3://${{ vars.AWS_S3_BUCKET }} --delete
